<h1>Exercises</h1>

{{#each exercise}}
<a href="exercise/{{this._id}}">{{this.title}}</a>

<a href="exercise/{{this._id}}">{{this.description}}</a>




<form action="/celebrities/delete/{{this._id}}" method="POST">

<button class="edit-button">ADD TO FAVORITE</button>

</form>
{{/each}}

 <a href="/private/profile">My Profile</a>

 