{{>navbar}}

<div class="homedeborrar">

    <h1 class="title-page">Exercises</h1>



</div>

</form>

<section class="exercises-container">
    {{#each exercise}}
    <div class="exercise-card">
        <a href="exercise/{{this._id}}">{{this.title}}</a>
        <a href="exercise/{{this._id}}"><img
                src="https://fitnessexpertawards.com/wp-content/uploads/2019/06/female-squat-form.jpg" alt=""></a>
        <form action="/private/add/favorite/{{this._id}}" method="POST">
            <button type="submit" class="edit-button">ADD TO FAVORITE </button>
        </form>
    </div>
    {{/each}}
</section>

{{>footer}}


{{!-- {{>navbar}}

<div class="homedeborrar">

<h1 class="homeh1">Exercises</h1>

<a href="/private/profile">My Profile</a>

<form action="/private/logout" method="post">

<button href="/private/logout">Logout</button>
</div>

</form>

<section class="exercises-container">
    {{#each exercise}}
            <div class="exercise-card">
                <a href="exercise/{{this._id}}">{{this.title}}</a>

                <img src="https://fitnessexpertawards.com/wp-content/uploads/2019/06/female-squat-form.jpg" alt="">

                <form action="/private/add/favorite/{{this._id}}" method="POST">
                    <button type="submit" class="edit-button">ADD TO FAVORITE </button>
                </form>
            </div>
    {{/each}}
</section>
  --}}