<h1>Profile</h1>

<p>{{user.username}}</p>
<p>Email: {{user.email}}</p>
<p>Gender: {{user.gender}}</p>

<!-- <p>Age: {{user.age}}</p>
<p>Height: {{user.password}}</p>
<p>Weight: {{user.password}}</p>
<p>Exercices: {{user.password}}</p>
<p>Routines: {{user.password}}</p> -->






    <p><a href="/private/profile/edit">Edit Profile</a></p>
    <p><a href="/routines/add">Create Routine</a></p>
    
    <br><br>

    <div>

        <h1>Routine 1</h1><br>
    </div>



    <div>
    
        <h1>Routine 2</h1><br>
    </div>