{{>navbar}}
<section class="profile">
    <div class="title">
        <h1>Profile</h1>
    </div>
    <header class="profile-container">
        <div>
            <img src="/images/blank-profile-picture-973460_640.png" alt="">
        </div>
        <div class="personaldata">
            <div class="name">
                <p>{{user.username}}</p>
            </div>
            <p>{{user.email}}</p>
            <p>{{user.gender}}</p>
            {{#if user.age}}
            <p>{{user.age}}</p>
            {{else}}
            <p>Age: User hasnt provided age</p>
            {{/if}}
        </div>

    </header>



    <div class="container-buttons">

        <a href="/private/profile/edit">
            <button class="button-p">
                Edit profile
            </button>
        </a>
        <form action="/private/profile/delete/" method="POST">
            <button class="button-p" type="submit">Delete
                Profile</button>
        </form>

    </div>

    <div>

    </div>

    <div class="title">
        <h1>Routines({{routines.length}})</h1>
    </div>
    <center>
        <a href="/routines/add">
            <span>
                <button class="button-p">
                    Add routine
                </button>
            </span>
        </a>
    </center>



    {{#each routines}}
    <div class="container-routine">

        <div class="routine">
            <h2>{{this.title}}</h2>
        </div>

        <a href="/routines/{{this._id}}">
            <button class="btn-routine button-edit">
                Edit
            </button>
        </a>

        <form action="/private/routines/delete/{{this._id}}" method="POST">
            <button class="button-delete-routine" type="submit">Delete</button>
        </form>

    </div>
    {{/each}}
    </div>
</section>

{{>footer}}