{{>navbar}}
<section class="profile">
    <div class="title">
        <h1>Profile</h1>
    </div>
    <div class="personaldata">
        <div class="name">
            <p>{{user.username}}</p>
        </div>
        <p>Email: {{user.email}}</p>
        <p>Gender: {{user.gender}}</p>
        {{#if user.age}}
        <p>Age: {{user.age}}</p>
        {{else}}
        <p>Age: User hasnt provided age</p>
        {{/if}}
    </div>

    <!-- <p>Age: {{user.age}}</p>
<p>Height: {{user.password}}</p>
<p>Weight: {{user.password}}</p>
<p>Exercices: {{user.password}}</p>
<p>Routines: {{user.password}}</p> -->

    {{!-- Forma errónea=> el link estaría ligado al texto y no la botón. 
        <button class="button-p">
            <a href="/private/profile/edit">Edit <br>Profile</a>
        </button>
// --}}

    <div class="container-buttons">
        <a href="/private/home">
            <button class="button-p">
                Return<br>exercises
            </button>
        </a>
        <a href="/private/profile/edit">
            <button class="button-p">
                Edit<br>profile
            </button>
        </a>
        <a href="/routines/add">
            <button class="button-p">
                Add<br>routine
            </button>
        </a>
    </div>
    <br>

    <form action="/private/profile/delete/" method="POST">
        <button class="button-delete-profile" type="submit"><a href="/private/profile/delete/">Delete
                Profile</a></button>
    </form>


    <br><br>
    <h1>Routines ({{routines.length}})</h1>
    {{#each routines}}
    <div class="container-routine">

        <div class="routine">
            <h2>{{this.title}}</h2>
        </div>

        <a href="/routines/{{this._id}}">
            <button class="button-edit">
                Edit
            </button>
        </a>

        <form action="/private/routines/delete/{{this._id}}" method="POST">
            <button class="button-delete-routine" type="submit">Delete</button>
        </form>

    </div>
    {{/each}}
    </div>
</section>

{{>footer}}