<h1>THIS IS MY ROUTINE={{routine.title}}</h1>





<div>
{{#each exercises}}
    <h1>favorite excercice</h1>
    <h1> {{this.title}} </h1>

    
        <form action=""/routines/{{../routine._id}}/exercise/{{this._id}}/delete method="POST">
            <button type="submit">Delete</button>
        </form>



        <form action="/routines/{{../routine._id}}/exercise/{{this._id}}/add" method="POST">

            <button type="submit"> ADD </button>
        
        </form>
</div>



{{/each}}